@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
}

.container {
  max-width: 1200px!important;
  margin: 0 auto!important;
  padding: 0 20px!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  /* background-color: #0a1930; */
}

section {
  width: 100%;
  padding: 4rem 0;
}


/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-dark);
}


a {
  font-size: 1.4rem;
  /* color: var(--dark-blue); */
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  /* color: var(--color-dark); */
  color: #ff7722;
  /* font-size: 1.5rem; */
}


.Toastify__toast-body{
  font-size: 1.5rem!important;
}